.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: rgb(3, 189, 189);
    border: 1px solid green;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    color: white;
}

.animal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}